recursive-include qr_foundry/public *
recursive-include qr_foundry *.py *.json *.md
recursive-include qr_foundry/templates *.html *.css *.js *.jinja2
recursive-include qr_foundry/config *.py *.json
recursive-include qr_foundry/www *
include LICENSE
include README.md

# (optional) include translations if you add them later
recursive-include qr_foundry/translations *.csv

# Exclude junk
prune **/__pycache__
prune **/.DS_Store
prune qr_foundry/node_modules

exclude *.pyc *.pyo
